* {
  scroll-behavior: smooth;
  font-family: 'Roboto Mono', monospace;
}

:root {
  --white: #fff;
  --zeus: #261f17;
  --green-yellow: #c2ff1c;
  --christi: #37bf18;
  --pine: #007c6a;
  --elephant: #11443e;
  --border-radius: 50px;
}

body {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  background-color: var(--zeus);
  color: var(--white);
}



article .container-2,
article .container-1 {

  margin-bottom: 30px;
}

.container-1,
.container-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: var(--christi);
  color: var(--white);
  padding: 40px;
}


.container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
}


.container-2 img {
  max-width: 100%;

  display: block;
  align-self: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
}

nav ul li {
  margin: 10px;
}

nav a {
  color: var(--christi);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--white);
}

h1 {
  font-size: 175%;
  margin: 1% 0;
}

h2 {
  margin: 1% 0;
  font-size: 150%;
  background: var(--white);
  color: var(--zeus);
  display: inline-block;
}

.green {
  margin: 1% 0;
  font-size: 150%;
  background: var(--white);
  color: var(--christi);
  display: inline-block;
  padding-right: 15px;
}


h5 {
  font-size: 75%;
}

p {
  font-size: 100%;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.container-2 a:hover {
  color: var(--christi);
}

p a:visited {
  color: var(--elephant);
}

.container-1 section,
.container-3 section {

  margin: 20px;

}



.container-2 section {
  /* border: solid 1px var(--zeus); */
  margin: 0px;
  padding: 0px;

}


.box-1 {
  flex: 2 0;

}

.box-2 {
  flex: 1 0;
  border-right: 1px solid var(--white);
}

.box-3 {

  flex: 1 0;
  border-right: 1px solid var(--white);
}

.box-4 {
  flex: 1 0;
}






.container-1 img {
  width: 200px;
  border-radius: 0px;
}





footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: var(--zeus);
  color: var(--white);
}


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .container-1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container-2 {
    flex-direction: column;


  }

  .container-3 {
    flex-direction: column;
    text-align: center;
    align-items: stretch;
  }


  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
  }

  .box-2 {
    border-top: 1px solid var(--white);
    border-right: none;
  }

  .box-3 {
    border-top: 1px solid var(--white);
    border-right: none;
  }
  .box-4 {
    border-top: 1px solid var(--white);
    border-right: none;
  }

}