* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color:magenta;
}

header {
  position: fixed;
  border-bottom: 10px greenyellow;
}


main {
    margin:20px;
}