* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  position: relative;
}

h1,
h2,
p,
figcaption,
img {
  margin: 20px;
}

.profile-pic {
  width: 200px;
}

main {
  padding: 60px 0;
}

img {
  display: block;
  margin: 0px auto;
}


.text-center {
  text-align: center;
}


header,
footer {
  height: 60px;
  width: 100%;
  background-color: magenta;
}

header {
  position: fixed;
  top: 0;
}


main {
  margin: 20px;
}